<div class="card text-center">
  <div class="card-header bg-light-grey" style="border-radius: 15px 15px 0 0">
    <p>Young Professional</p>
  </div>
  <div class="card-body">
    <img class="img-small test" src="https://d2wawcmugfcadn.cloudfront.net/1673049112590.jpeg" height="90" width="90" alt="">
    <br>
    <strong>{{user.fullName}}</strong>
    <p class="card-text">{{user.title}}</p>
    <p class="card-text">at {{user.company}}</p>
    <p class="card-text">{{user.industry}}</p>
  </div>
  <div class="card-footer text-muted bg-light-grey" style="border-radius: 0 0 15px 15px">
    <p> 3 visitors last week </p>
  </div>
</div>
