<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="assets/images/Superstars-logo.png"
          alt="MDB Logo"
          loading="lazy"
          height="43"
        />
      </a>
      <!-- Left links -->
      <div class="navbar-nav me-auto mb-lg-0">
          <input placeholder="Search" class="form-control form-control-lg border-0" style="background: #EEF3F8;" type="search"/>
      </div>

      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item text-center px-4">
          <a class="nav-link" href="#">
            <img src="assets/images/home.svg" alt="home"><br>
            Home
          </a>
        </li>
        <li class="nav-item text-center px-4">
          <a class="nav-link" href="#">
            <img src="assets/images/play.svg" alt="action link"><br>
            Action
          </a>
        </li>
        <li class="nav-item text-center px-4">
          <a class="nav-link" href="#">
            <img src="assets/images/Group.svg" alt=""><br>
            Network
          </a>
        </li>
        <li class="nav-item text-center px-4">
          <a class="nav-link" href="#">
            <img src="assets/images/notification.svg" alt=""><br>
            Notification
          </a>
        </li>
        <li class="nav-item text-center px-4">
          <a class="nav-link" href="#">
            <img src="{{user.profilePic}}" loading="lazy" class="img-fluid rounded-circle" height="29" width="29" alt="profile picture"><br>
            Me
          </a>
        </li>
      </ul>

      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <button class="btn btn-outline-dark"> + upload </button>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
