<div class="row">
  <div class="col-12">
    <div class="text-center">
      <small> backed by 2 Accelerators: </small>
    </div>
    <div class="text-center">
      <img src="assets/images/nyc_logo.png" alt="" class="p-2">
      <img src="assets/images/newchip_logo.png" alt="" class="p-2">
    </div>
    <div class="text-center p-1">
      <div>
        <span class="px-1"> <a href="!#" class="text-grey"> About </a> </span>
        <span class="px-1"> <a href="!#" class="text-grey"> Terms </a> </span>
        <span class="px-1"> <a href="!#" class="text-grey"> Privacy </a> </span>
        <span class="px-1"> <a href="!#" class="text-grey"> Contact </a> </span>
        <span class="px-1"> <a href="!#" class="text-grey"> Media </a> </span>
      </div>

    </div>
    <div class="text-center">
      <small style="color: #37BB87"> Superstars {{year}} | All Rights Reserved </small>
    </div>
  </div>
</div>
